{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class=".col-sm">
                <h1>{{ title }}</h1>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-link"><a href="{{ url('list_books') }}"><i class="far fa-caret-square-left" style="font-size: 48px;"></i></a></button>
{% endblock %}